body {
    height: 100%;
}

.fa-bullseye-pointer {
    color: #FB1B1B;
}

.container-fluid, .home{
    max-width: 1200px;
    margin: auto;
}

nav  {
    & i {
        font-size: 1.5em;
    }
    & .nav-credit {
        display: flex;
        height: 40px;
        align-items: center;
        & p {
        margin-bottom: 10px;
        justify-content: end;
        padding-right: 0;
        }
    }
    & button {
        padding: 0!important;
        box-shadow: none!important;
    }
    & .bar {
        display: block;
        width: 25px;
        height: 2.8px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: rgb(192, 191, 191);
    }
    & .hamburger {
        cursor: pointer;
        display: block;
        float: right;  
        padding: 5px 10px;
    }
    & .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    & .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    & .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.btn-outline-info {
    color: black;
    border-width: 3px;
}

.edit-btn {
    font-size: 1.25em;
}

.add-item-form .form-floating {
    margin-bottom: 10px;

    & .date-input {
        width: fit-content;
    }
    & .description-input {
        height: 150px;
    }
}

footer {
    font-size: 0.8em;
}

/* Home page */

header {
    padding-top: 200px;
  
    & i {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 115px;
        font-size: 3em;
    }
    & .add-item {
        position: relative;
        top: -30px;
    }
}

main {
    & .blue-container {
        background-color: #EEF5FB;
    }
}

.card-container {
    text-align: center;
    
    & .gap-5 {
        gap: 4rem!important;
    }
    & .cards {
        position: relative;
        left: 63px;
        width: 70%;

        & .box {
            width: 230px;
        }
        & a {
            text-decoration: none;
            color: black;
        }
        & .no-img {
            position: relative;
            top: 115px;
            text-align: center;
            height: 0;
        }
        & .listing-image {
            display: flex;
            justify-content: center;
            height: 235px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
            overflow: hidden;
            background-color: #fff;
        }
        & img { 
            transform: scale(1.4);
            transition: all .5s;
            height: 115%;
        }
        & img:hover {
            transform: scale(1.5);
        }
        & .listing-info {
            text-align: left;
        }
        & .profile-info p {
            margin: 0;
        } 
        & h4 {
            padding: 5px 0;
            font-size: 1.3em;
        }
        & .btn-dark {
            cursor: default;
        }
    }
    & button {
        width: 50%!important;
        margin-top: 48px;
        
    }
}





/* Signin page */
.signin-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 55px;
    height: 100vh
}

.signin-main {
    margin-top: 200px;
    max-width: 500px;
    padding: 15px;
    
    & form {
        border: 40px solid white;
        border-left-width: 100px;
        border-right-width: 100px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
        
    }
    & label {
        font-size: 0.85em;
    }
    & i {
        font-size: 2.5em;
    }
    & .form-floating:focus-within {
        z-index: 2;
    }
    
    & input[type="text"], .login-email {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    & .middle-input {
        margin-bottom: -1px;
        border-radius: 0;
    }

    & input[type="url"], .login-password {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    & .btn {
        font-size: 1em;
    }
}

.invalid-feedback {
    text-align: left;
}


/* Profile page */
.profile-top {
    height: 440px;
    & .blue {
        height: 200px;
        background-color: #EEF5FB;
    }
    & .profile-image {
        width: 150px;
        position: relative;
        top: -75px;
        background-color: white;
    }
    
    & .profile-avatar {
        height: 150px;
        display: flex;
        align-items: center;
        background-color: #EEF5FB;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    & .avatar {
        background-color: white;
        width: 100%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
    }
    & .edit-btn {
        position: relative;
        top: -152px;
        left: 152px;
    }
    & .profile-info {
        width: 300px;
        position: relative;
        top: -110px;
        & h2, p {
            margin: 0;
        }
        & .credit {
            width: 60%;
            background-color: #EEF5FB;
            height: 35px;
            padding-top: 5px;
            text-align: center;
            border-radius: 20px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.103);
        }
    }
}

.auction-history {
    & .active {
        font-weight: bold;        
    }
    & .nav-link.active {
            background-color: #EEF5FB;
            border-bottom-color: #EEF5FB;
        }
    & .nav-item a {
        color: #212529;
    }
    & .auction-container {
        background-color: #EEF5FB;
    }
}

/* Specific page */
.specific {
    max-width: 900px;

    & p {
        margin: 0;
    }

    & h2 {
        font-size: 1.3em;
        margin-bottom: 5px;
        margin-left: 0;
    }

    & h3 {
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 1.15em;
    }
}

.details-image {
    margin-top: 100px;
    max-width: 800px;
    height: 400px;
    margin: 100px auto 0px auto;

    & .carousel button {
    
        & span {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.459);
        }
    }
    & .carousel-item .image{
        height: 400px;
        display: flex;
        
        & img {
            max-height: 400px;
            max-width: 100%;
            margin: auto;
        }
    }
    & .edit-edit {
        display: flex;
        justify-content: end;
        position: relative;
        z-index: 2;
        bottom: 407px;
    }
    & .edit-btn {
        height: fit-content;
    }
}

.details {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 50px auto 0 auto;
    padding: 0 50px;

    & .details-one {
        max-width: 600px;
        margin-right: 40px;
    }
}

.details-bid {
    max-width: 450px;
    margin: 0 auto;

    & .bid-input {
        width: 90%;

        & button {
            width: 100%;
        }
    }
    & input[type="text"] {
        text-align: center;
    }
    & label {
        padding-top: 39px;
        text-align: center;
    }
    & a {
        text-decoration: none;
        color: black;
    }
    & a:hover {
        font-weight: bold;
    }
    & .bid-log p {
        margin-bottom: 0;
        margin-left: 25px;
    }
}


/*mobile styles*/
@media only screen and (max-width: 700px) {

    p {
        font-size: 1em;
    }

    header {
        padding-top: 140px;
    
        & h1 {
        font-size: 1.4em;
        }
    }

    nav  {
        & i {
            font-size: 1.5em;
        }
        & form {
            margin-bottom: 15px;
        }
        & .nav-credit {
            height: 0;
            justify-content: flex-end;
            & p {
                margin-bottom: 10px;
                position: relative;
                bottom: 28px;
            }
        }
    }

    main {
        & h2 {
            font-size: 1.15em;
        }
    }

    .cards {
        width: 90%;
    }
    .box {
        min-width: 140px;
        height: 210px;
    }

    footer {
        justify-content: center;
        flex-direction: column-reverse;

        & .icon {
        width: 100%;
        }
    }

    /* Home page */
    header {
        & .gap-2 {
            position: absolute;
            right: 25px;
            top: 278px;
        }
        & .add-item {
            width: 126px;
            top: -37px;
            height: 35px;
            
        }
        & .add-desktop {
            display: none;
        }
        & .add-phone {
            display: block!important;
        }
    }
    
    .home h2 {
        margin-left: 25px;
    }

    .card-container .cards {
        left: 0px;
        width: 90%;
        padding-top: 0!important;
        justify-content: center!important;
        gap: 15px!important;

        & .box {
            width: 154px;
            height: fit-content;
            margin-bottom: 10px;
        }
        & .no-img {
            top: 60px;
        }
        & .listing {
            height: fit-content;
        }
        & .listing-image { 
            height: 155px;
        }
        & .profile-info p {
            font-size: 0.9em;
        } 
        & h4 {
            font-size: 1em;
            margin-bottom: 0;
        }
    }

    /* Signin page */
    .signin-main {
        margin-top: 200px;
        max-width: 330px;
        padding: 15px;
        
        & form {
            border: 25px solid white;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
            
        }
    }

    /* Profile page */
    

    /* Specific page */
    .specific h2 {
        margin: 0;
    }

    .details-image, .details, .details-bid {
        width: 90%;
        margin: auto;
    }
    
    .details-image {
        flex-direction: column;
        margin-bottom: 0;

        & .carousel {
            margin-top: 100px;
        }
        & .edit-edit {
            left: 0px;
            bottom: 0px;
        }
    }

    .details {
        flex-direction: column;
        margin: auto;
        padding: 0;

        & .deadline {
            width: fit-content;
            float: right;
        }

    }
    
    .details-bid {
        padding: 0;
        
        & .bid-input {
            width: 100%;
        }
    }
}