body {
    height: 100%;
}

.fa-bullseye-pointer {
    color: #FB1B1B;
}

.container-fluid, .home{
    max-width: 1200px;
    margin: auto;
}

nav  {
    & i {
        font-size: 1.5em;
    }
    & .nav-link {
        color: white;
    }
    & .nav-credit {
        display: flex;
        height: 40px;
        align-items: center;
        & p {
        margin-bottom: 10px;
        justify-content: end;
        padding-right: 0;
        }
    }
    & button {
        padding: 0!important;
        box-shadow: none!important;
    }
    & .bar {
        display: block;
        width: 25px;
        height: 2.8px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: rgb(192, 191, 191);
    }
    & .hamburger {
        cursor: pointer;
        display: block;
        float: right;  
        padding: 5px 10px;
    }
    & .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    & .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    & .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
} 

nav .nav-link, footer .nav-link {
    padding-bottom: 2px;
    padding-top: 2px;
    margin: 4px 7px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.btn-outline-info {
    color: black;
    border-width: 3px;
}

.edit-btn {
    font-size: 1.25em;
}

.add-item-form {
    text-align: left;

    & .modal-footer {
        padding-top: 23px;
    }
}

.add-item-form .form-floating {
    margin-bottom: 10px;

    & .date-input {
        width: 50%;
        margin: auto;
    }
    & .description-input {
        height: 150px;
    }
    
    & .media-input {
        height: 15px; 
        margin-bottom: 10px;
        padding-bottom: 15px;
    }
    & .url-upload {

        & .number, .media-item {
            display: flex;

            & p {
                margin-top: revert;
                margin-bottom: 0;
            }
            & div {
                display: flex;
                margin: 5px;
            }
        }
        & img { 
            max-height: 40px;
            max-width: 50px;
            margin-top: 5px;
        }
        & .number {
            position: relative;
            bottom: 20px;
            right: 31px;

            & p {
                margin: 0;
            }
        }
    }
}

.media-url label {
    width: fit-content;
    height: fit-content;
    padding: 4px 0.75rem;
}

footer {
    font-size: 0.8em;
    padding-bottom: 10px;

    & ul {
        font-size: 1.2em;
    }
}

/* Home page */

header {
    padding-top: 200px;
  
    & i {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 115px;
        font-size: 3em;
    }
    & .add-item {
        position: relative;
        top: -30px;
    }
}

main {
    & .blue-container {
        background-color: #EEF5FB;
        min-height: 420px;
    }
    & .dropdown-item.active {
        color: black;
        background-color: #0dcaf0;
    }
}



.modal-body .box {
    margin: auto;

    & p {
        position: relative;
        bottom: -7px;
        font-size: 1.1em;
        font-weight: bolder;
        color: red;
    }
}

.box {
    width: 230px;
} 

.listing-image {
    display: flex;
    justify-content: center;
    height: 235px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
    overflow: hidden;
    background-color: #fff;
}


.cards img { 
    transform: scale(1.4);
    transition: all .5s;
    height: 115%;
}

.card-container {
    text-align: center;
    
    & .gap-5 {
        gap: 4rem!important;
    }
    & .cards {
        position: relative;
        left: 63px;
        width: 70%;

        & .listing-image p {
            transform: scale(1);
            transition: all .5s;
        } 

        & a {
            text-decoration: none;
            color: black;
        }
        & .no-img {
            position: relative;
            top: 115px;
            text-align: center;
            height: 0;
        }
        & .listing-image p:hover {
            transform: scale(1.1);
        }
        & img:hover {
            transform: scale(1.5);
        }
        & .listing-info {
            text-align: left;
        }
        & .profile-info p {
            margin: 0;
        } 
        & h4 {
            padding: 5px 0;
            font-size: 1.3em;
        }
        & .btn-dark {
            cursor: default;
        }
    }
    & .moreBtn {
        width: 50%!important;
        margin-top: 48px;
        
    }
}

/* Signin page */
.signin-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 55px;
    height: 100vh
}

.signin-main {
    margin-top: 200px;
    max-width: 500px;
    padding: 15px;
    
    & form {
        border: 40px solid white;
        border-left-width: 100px;
        border-right-width: 100px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
        
    }
    & label {
        font-size: 0.85em;
    }
    & i {
        font-size: 2.5em;
    }
    & .form-floating:focus-within {
        z-index: 2;
    }
    
    & input[type="text"], .login-email {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    & .middle-input {
        margin-bottom: -1px;
        border-radius: 0;
    }

    & input[type="url"], .login-password {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    & .btn {
        font-size: 1em;
    }
    & .delete-url {
        position: absolute;
        right: 1px;
        border: none;
        bottom: 2px;
        background-color: white;
        padding: 15px 12px;

        & i {
            font-size: 1.15em;
        }
    }
}

.invalid-feedback {
    text-align: left;
}


/* Profile page */
.profile-top {
    height: 440px;
    & .blue {
        height: 200px;
        background-color: #EEF5FB;
    }
    & .profile-image {
        overflow: hidden;
        width: 150px;
        position: relative;
        top: -124px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
    }
    & .profile-avatar {
        height: 150px;
        display: flex;
        align-items: center; 
        background-color: #EEF5FB;
    }
    & #pre-view-avatar {
        border: 4px solid #FB1B1B;
        
        & i {
        position: relative;
        left: 13px;
        border: 10px solid white;
        padding: 20px;
        border-radius: 50%;
        color: white;
        font-size: 4em;
        
        }
    }
    & .avatar {
        background-color: white;
        width: 100%;
        transform: scale(1.2);
    }
    & .edit-container {
        height: 44px;
        position: relative;
        text-align: center;
        margin-left: 203px;
        bottom: 80px;
        
        & button {
            display: none;
        }
    }
    
    & .pre-view {
        position: inherit;
    }
    & .view-url {
        margin: 15px 0 0 10px;
        position: relative;
        top: 15px;
    }
    & .profile-info {
        width: 300px;
        position: relative;
        top: -132px;
        & h2, p {
            margin: 0;
        }
        & .credit {
            width: 60%;
            background-color: #EEF5FB;
            height: 35px;
            padding-top: 5px;
            text-align: center;
            border-radius: 20px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.103);
        }
        & .none-user-credit {
            border: 15px double white;
        }
    }
}
.sort {
    position: relative;
    z-index: 4;
    top: 75px;
    margin-right: 20px;
    height: 0;
}

.info-box {
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    border-bottom: 7px solid white;
    width: fit-content;
    padding: 0 20px 7px 20px;

    & p {
        margin: 0;
    }
}

.auction-history {

    & .blue-container {
        position: relative;
        z-index: 3;
    }
    & .active {
        position: relative;
        z-index: 2;
        font-weight: bold;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.219); 
        height: 55px;
        pointer-events: none;
    }
    & .nav-tabs {
        height: 55px;
        align-items: end;

        & a {
            height: 42px;
            width: 100px;
            transition: height 0.3s ease-out, background-color 0.3s ease-out;
        }
    }
    & .nav-tabs a:hover {
        background-color: #EEF5FB;
        border-bottom-color: #EEF5FB;
        height: 50px;
        
    }
    & .nav-link.active {
        background-color: #EEF5FB;
        border-bottom-color: #EEF5FB;
        height: 50px;
    }
    & .winning-box {
        width: 100%;
        margin-top: 20px;
        font-weight: bold;
        color: #212529;
        
        & p {
            width: fit-content;
            margin: 0 auto 5px auto;
        }
    }
    & .winner {
        margin: auto;
        font-size: 3em;
        height: 100px;
        width: 100px;
        background-color: #212529;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        transition-duration: 0.5s;
        transition-property: background, border-radius;
        
        & i {
            font-size: 1.15em;
            position: relative;
            left: 19px;
        }
        & p {
            color: #212529;
            position: relative;
            width: 100%;
            right: 31px;
            margin-bottom: 22px;
            font-weight: bold;
            font-size: 0.35em;
        }
        
    }
    & .nav-item a {
        color: #212529;
        width: 100%;
    }
    & .auction-container {
        background-color: #EEF5FB;
    }
    & .dropdown-profile {
        display: flex;
        justify-content: flex-end;
    }
    & .cards {
        left: 0;
    }
}

/* Specific page */
.specific {
    max-width: 900px;
    margin: 0 auto 30px auto;
    padding: 0 20px;

    & p {
        margin: 0;
    }

    & h2 {
        font-size: 1.3em;
        margin-bottom: 5px;
        margin-left: 0;
    }

    & h3 {
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 1.15em;
    }
}

.details-image {
    margin-top: 100px;
    max-width: 800px;
    height: 400px;
    margin: 100px auto 0px auto;

    & .carousel-indicators {
        bottom: -45px;
    }
    & .carousel button {
        & span {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.459);
        }
    }
    & .carousel-item .image{
        height: 400px;
        display: flex;
        
        & img {
            max-height: 400px;
            max-width: 100%;
            margin: auto;
        }
    }
    & .edit-edit {
        display: flex;
        justify-content: end;
        position: relative;
        z-index: 2;
        bottom: 407px;
    }
    & .edit-btn {
        height: fit-content;
    }  
}

.nothing {
    display: none;
    & i {
        font-size: 17em;
        margin-top: 40px;
        color: white;
    }
    & p {
        position: relative;
        bottom: 180px;
        font-size: 3em;
        font-weight: bold;
        height: 0;
    }
}

.details {
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;

    & .details-one {
        margin-right: 40px;
        max-width: 600px;
        width: 100%;
    }
}

.bid-history {
    border-right: 73px double #EEF5FB;
}

.details-bid {
    max-width: 450px;
    margin: 0 auto;

    & .bid-input {
        width: 100%;

        & button {
            width: 100%;
        }
    }
    & input[type="number"] {
        height: 45px;
        text-align: center;
        padding: 0!important;
        font-size: 1.25em;
        font-weight: bold;
        
    }
    & label {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-top: 52px;
        opacity: 1!important;
        font-size: 1.25em;
        height: auto;
    }
    & .highest {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center; 
        align-items: center;
        position: relative;
        bottom: 30px;
    }
    & .bid-winner p {
        margin-top: 30px;
        margin-right: 15px;
    } 
    & .image-special {
        display: flex;
        align-items: center;
        margin: auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.459);
        background-color: #EEF5FB;
    }
    & img {
        width: 100%;
        transform: scale(1.2)
    }
    & a {
        text-decoration: none;
        color: black;
    }
    & .bid-log {
        overflow: auto;
        width: fit-content;
        padding-right: 30px;
        max-height: 215px;
        margin: 10px 0;
    }
    & .bid-log p {
        margin-bottom: 0;
        
    }
    & .seller {
        background-color: #EEF5FB;
        border: 10px double white;
        width: 225px;
        height: 215px;
        padding-top: 15px;

        & i {
            color: #212529;
        }
        & p {
            padding-top: 90px;
            position: relative;
            bottom: 83px;
            font-size: 1.15em;
            color: #212529;
            font-weight: 500;
        }
    }
}

.link, nav .nav-link, footer .nav-link {
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: #0dcaf0;
        bottom: -1px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .25s ease-in-out;
    }
    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.link-disabled {
    pointer-events: none;
} 

.details-two .deadline {
    width: max-content;

}

.bid-log::-webkit-scrollbar {
    width: 10px;
}

.bid-log::-webkit-scrollbar-track {
background: #f1f1f1;
}

.bid-log::-webkit-scrollbar-thumb {
background: #212529ab; 
}

.bid-log::-webkit-scrollbar-thumb:hover {
background: #212529; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*mobile styles*/
@media only screen and (max-width: 700px) {

    p {
        font-size: 1em;
    }

    header {
        padding-top: 140px;
    
        & h1 {
        font-size: 1.4em;
        }
    }

    nav  {
        & i {
            font-size: 1.5em;
        }
        & form {
            margin-bottom: 15px;
        }
        & .nav-credit {
            position: relative;
            bottom: 6px;
            height: 0;
            justify-content: flex-end;
            & p {
                margin-bottom: 10px;
                position: relative;
                bottom: 28px;
            }
        }
    }

    main {
        & h2 {
            font-size: 1.15em;
        }
    }

    .cards {
        width: 90%;
    }
    .box {
        min-width: 140px;
        height: 210px;
    }

    footer {
        justify-content: center;
        flex-direction: column-reverse;

        & .icon {
        width: 100%;
        }
    }

    /* Home page */
    header {
        & .gap-2 {
            position: absolute;
            right: 25px;
            top: 278px;
        }
        & .add-item {
            width: 126px;
            top: -37px;
            height: 35px;
            
        }
        & .add-desktop {
            display: none;
        }
        & .add-phone {
            display: block!important;
        }
    }
    
    .home h2 {
        margin-left: 25px;
    }

    .box {
        width: 154px;
        height: fit-content;
        margin-bottom: 10px;
    }

    .listing-image { 
        height: 155px;
    }

    .one::placeholder, .two::placeholder, .three::placeholder {
        display: block!important;
        opacity: 1!important;
        visibility: visible!important;
        color: black!important;
    }

    .card-container .cards {
        left: 0px;
        width: 90%;
        padding-top: 0!important;
        justify-content: center!important;
        gap: 15px!important;

        & .no-img {
            top: 60px;
        }
        & .listing {
            height: fit-content;
        }
       
        & .profile-info p {
            font-size: 0.9em;
        } 
        & h4 {
            font-size: 1em;
            margin-bottom: 0;
        }
    }

    /* Signin page */
    .signin-main {
        margin-top: 200px;
        max-width: 330px;
        padding: 15px;
        
        & form {
            border: 25px solid white;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
            
        }
    }

    /* Profile page */
    .nav-tabs {
        margin-top: 0px;
    }
    .profile-top {
        height: 430px;
    }
    .sort {
        top: 140px;
    }
    .info-box {
        margin: 13px auto 0px auto;
        border-top: 7px solid white;
    }
    .profile-container {
        margin-top: 20px;
    }
    .profile-info {
        height: 70%;
    }

    .nothing p {
        font-size: 1.8em;
        bottom: 168px;
    }

    /* Specific page */
    
    .specific {
        max-width: 900px;
        margin: 0px;
        padding: 0px;
        top: 125px;

        & h2 {
            margin: 0;
        }
    }

    .details-image, .details, .details-bid {
        width: 90%;
        margin: auto;
    }
    
    .details-image {
        flex-direction: column;
        height: 350px;

        & .carousel-item .image {
            height: 350px;
        }
        & .carousel {
            margin-top: 100px; 
        }
        & .edit-edit {
            left: 0px;
            bottom: 0px;
        }
    }

    .bid-history {
        border-right-width: 30px;

        & .ms-5 {
            margin-left: 15px!important;
        }
    }

    .details {
        flex-direction: column;
        margin-top: 50px;
        padding: 0;

        & .deadline {
            width: fit-content;
            float: right;
        }

    }
    
    .details-bid {
        padding: 0;
        
    }
}